body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #158774; 
    color: #ffffff;
    border: 5px double #74e8d4;
    border-radius: 15px;
    box-shadow: 5px 5px 10px 1px #555555;
    animation-name: anim;
    animation-duration: 3sec;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.card :hover{
    color: #fec92c;
}

.border-blue {
    border: 1px dotted blue;
}

@keyframes anim{
    from {background-color: #600575;}
    to {background-color: #db00b6;}
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

